.movie-card {
  display: inline-block;
  transition: all 0.3s ease;
  border-radius: 3px;
  border: 1px solid hsl(20, 3%, 54%);
  background: $background;
  box-shadow: 3px 2px 2px hsl(204, 42%, 27%);
  position: relative;
  color: hsl(0, 0%, 100%);
  overflow: hidden;
  
  &:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 5px 5px 5px hsl(204, 42%, 27%);
  }
}

.poster-img {
  border-radius: 3px;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.card-hover-heading {
  grid-area: title;
  font-size: 1.5rem;
  margin: 1rem;
  align-self: center;
}

.card-hover{
  opacity: 0;
  background: rgba(9, 7, 27, 0.671);
  display: grid;
  grid-template-rows: 8fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "title title"
    "fav  info"
    "prompt prompt";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  
  &:hover {
    opacity: 1; 
    z-index: 5;
  }
}
.favorite-btn {
  grid-area: fav;
  // padding: 3px;
}
.prompt {
  color: $main-text-color;
  grid-area: prompt;
  font-size: .8rem;
  margin: 0 1rem;
}

.more-info-btn {
  grid-area: info;
}

.star {
  height: 1.8rem;
  padding: 0 0 5px 0;
}

.btn {
  margin: 1rem;
  width: 60%;
  border-radius: 50px;
  height: 2rem;
  background: rgba(255, 255, 255, 0.482);
  outline: transparent;
  border: 2px solid transparent;
  &:hover {
    border: 2px solid $main-text-color;
    background: white;
  }

}

//after pseudo class

@media screen and (max-width: 1000px) {
  
}