.movie-card {
  display: inline-block;
  transition: all 0.3s ease;
  border-radius: 3px;
  background: $background;
  box-shadow: 3px 2px 2px hsl(204, 42%, 27%);
  position: relative;
  color: $light-text;
  overflow: hidden;
  cursor: pointer;
  text-align: center;

  &:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 5px 5px 5px hsl(204, 42%, 27%);
  }
}

.poster-img {
  border-radius: 3px;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.card-hover-heading {
  width: 100%;
  grid-area: title;
  font-family: $title-font;
  background: $blur;
  padding: 1rem 0;
  font-size: 2rem;
  align-self: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.61);
}

.card-hover {
  opacity: 0;
  background: rgba(9, 7, 27, 0.671);
  display: grid;
  grid-template-rows: 8fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "fav  info"
    "prompt prompt";
  position: absolute;
  justify-content: center;
  top: 0;
  height: 100%;
  width: 100%;

  &:hover {
    opacity: 1;
    z-index: 5;
  }
}

.favorite-btn {
  grid-area: fav;
  cursor: pointer;
}

.prompt {
  color: $main-text-color;
  grid-area: prompt;
  font-size: .8rem;
  margin: .5rem;
}

.prompt-placeholder {
  color: transparent;
}

.more-info-btn {
  grid-area: info;
  align-self: center;
}

.star {
  height: 1.8rem;
  padding: 0 0 5px 0;
}

.btn {
  margin: 0 auto;
  padding: .5rem 0;
  width: 60%;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.482);
  outline: transparent;
  border: 2px solid transparent;
  cursor: pointer;

  &:hover {
    border: 2px solid $main-text-color;
    background: hsl(0, 6%, 90%);
  }

}

@media screen and (max-width: 1000px) {}