.movies-section {
  width: 94%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin: 3%;

  h2 {
    text-align: center;
    color: #f4c112;
  }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .movies-section{
    grid-template-columns: repeat(2, 1fr);
  }
}