// FONTS
$heading-font: 'Syncopate',
sans-serif;
$main-font: 'Comfortaa',
cursive;
$title-font: 'Prata',
serif;



$main-text-color: hsl(46, 92%, 52%);
$secondary-color: hsl(44, 84%, 45%);
$background: hsl(240, 46%, 5%);
$blur: hsla(0, 1%, 39%, 0.536);
$light-background: rgba(255, 255, 255, 0.482);
$light-accent: hsl(204, 95%, 32%);
$light-text: hsl(0, 6%, 90%);