.banner-section {
  position: relative;
}

.movie-tiles {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
}

.tile {
  position: relative;
  filter: brightness(70%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.banner-heading {
  position: absolute;
  z-index: 1;
  bottom: 10%;
  right: 10%;
  margin: 0;
  font-size: 4rem;
  @include heading-shadow;
}

@media screen and (max-width: 750px) {
  .banner-heading {
    right: 5px;
  }
  .banner-heading {
    font-size: 2rem;
  }
}